<!-- Empty cart -->
<div class="container border border-primary m-5">
    <div class="row text-center m-5">
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk3JWzobCOowT4pj-l-R_j9aZ7XAW4_rI9vQ&usqp=CAU" alt="" width="200px">
            <h3 class="mt-3">Your Cart is Empty</h3>
            <a routerLink="/" class="btn btn-outline-primary">Shop Now</a>
        </div>
    </div>

</div>


<!-- cart with content -->
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table border border-dark m-5">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Action</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>Men's T-Shirt</td>
                        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0dkjXj3-F2bxop551ElsQ3JR2yOO5zKsT-Q&usqp=CAU" alt=""></td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </td>
                        <td><i class="fa fa-trash text-danger" ></i></td>
                        <td>$00</td>
                    </tr>
                </tbody>
            </table>
            <div style="float: right;" class="mb-5">
                <button class="btn btn-danger">Empty Cart</button>&nbsp;
                <button class="btn btn-primary">Shop More</button>&nbsp;
                <button class="btn btn-success">Check Out</button>&nbsp;
                <b>Grand Total : 500</b>

            </div>
        </div>
    </div>
</div>
